body {
  font-family: sans-serif;
  background-color: #fdfdfd;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background: linear-gradient(to bottom right, #4CAF50, #3D8C40, #4CAF50);
  z-index: -1;
  border-radius: 10px;
}

.numbers button,
#buttons {
  min-width: 40px;
  max-width: 50px;
  font-size: 24px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #4CAF50;
  color: white;
  width: 25%;
}

.container {
  display: flex;
  justify-content: space-between;
}
